body {
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

div.wrapper {
    display: block;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 30%;
    padding-right: 20%;
    text-align: left;
}

div.box {
    display: block;
    float: left;
    width: 25%;
}

div.row {
    width: 100%;
}